# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/

# Environment Variables
.env

# IDE
.idea/
.vscode/

# Test & Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Local project files
folders.txt
project_tree.txt

# Database dumps
*.sql

# Keep schema only
!database/schema.sql

# Ignore generated credentials
database/employee_credentials.csv